:root {
    font-size: 62.5%;
    --color1: #c3a8f7;
    --color2: #d2bef9;
    --color3: #e1d4fb;
    --color4: #f0e9fd;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
    color: #0f0f0f;
}

body,
html {
    font-size: 1.6rem;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    overflow: overlay;
    height: 100vh;
    background-color: #dce6ec;
}


button:hover {
    cursor: pointer;
}

button {
    background: none;
    border: none;
    outline: none;
    width: fit-content;
    height: fit-content;
}